@{
    ViewBag.Title = "Grimoire";
    Layout = "~/Views/_Shared/PageLayout.cshtml";
}

@using Grimoire.Models.SpellCard
@model SpellViewModel

<div class="parchment">
    <div class="container">
        @for (var i = 0; i < 10; i++)
        {
            <div class="heading">
                <h1>@SpellViewModel.GetSpellHeading(i)</h1>
            </div>

            <div class="spellbook">
                @foreach (var spell in Model.Spells.Where(f => f.SpellLevel == i))
                {
                    <div class="spell-card">
                        <div class="bar top"></div>
                        <h2 class="spell">@spell.Name</h2>
                        <span class="spell-type">@SpellViewModel.GetSpellType(spell)</span>

                        @RenderSeparator()

                        <span class="bold">@SpellViewModel.CastingTimeLabel</span><span>@spell.CastingTime</span><br />
                        <span class="bold">@SpellViewModel.RangeLabel</span><span>@spell.Range</span><br />
                        <span class="bold">@SpellViewModel.ComponentsLabel</span><span>@SpellViewModel.GetComponents(spell)</span><br />
                        <span class="bold">@SpellViewModel.DurationLabel</span><span>@spell.Duration</span><br />

                        @RenderSeparator()

                        @Html.Raw(spell.Description)
                        <div class="bar bottom"></div>
                    </div>
                }
            </div>
        }
    </div>
</div>

@helper RenderSeparator()
{
    <svg height="5" width="400">
        <polyline points="0,0 400,2.5 0,5"></polyline>
    </svg>
}