@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Shared/PageLayout.cshtml";
}

@using Grimoire.Models.SpellCard
@model SpellCardViewModel

<div class="parchment">
    <div class="container">
        @for (var i = 0; i < 10; i++)
        {
            <div class="heading">
                <h1>@SpellCardViewModel.GetSpellHeading(i)</h1>
            </div>

            <div class="spellbook">
                @foreach (var spell in Model.Spells.Where(f => f.SpellLevel == i))
                {
                    <div class="spell-card">
                        <div class="bar top"></div>
                        <h2 class="spell">@spell.Name</h2>
                        <span class="spell-type">@spell.SpellType</span>

                        @RenderSeparator()

                        <span class="bold">@SpellViewModel.CastingTimeLabel</span><span>@spell.CastingTime</span><br />
                        <span class="bold">@SpellViewModel.RangeLabel</span><span>@spell.Range</span><br />
                        <span class="bold">@SpellViewModel.ComponentsLabel</span><span>@spell.Components</span><br />
                        <span class="bold">@SpellViewModel.DurationLabel</span><span>@spell.Duration</span><br />

                        @RenderSeparator()

                        @*Todo refactor to allow description to store markup.*@
                        <p>@spell.Description</p>
                        <div class="bar bottom"></div>
                    </div>
                }
            </div>
        }
    </div>
</div>

@helper RenderSeparator()
    {
        <svg height="5" width="400">
            <polyline points="0,0 400,2.5 0,5"></polyline>
        </svg>
}

@*<div class="heading">
    <h1>Cantrips</h1>
</div>
<div class="spellbook">
    <div class="spell-card">
        <div class="bar top"></div>
        <h2 class="spell">Chill Touch</h2>
        <span class="spell-type">Necromancy cantrip</span>

        @RenderSeparator()

        <span class="bold">Casting Time: </span><span>1 action</span><br />
        <span class="bold">Range: </span><span>120 feet</span><br />
        <span class="bold">Components: </span><span>V, S</span><br />
        <span class="bold">Duration: </span><span>1 round</span><br />

        @RenderSeparator()

        <p>
            You create a ghostly, skeletal hand in the space of a
            creature within range. Make a ranged spell attack
            against the creature to assail it with the chill of the
            grave. On a hit, the target takes 1d8 necrotic damage,
            and it can’t regain hit points until the start of your next
            turn. Until then, the hand clings to the target.
        </p>
        <p>
            If you hit an undead target, it also has disadvantage on
            attack rolls against you until the end of your next turn.
        </p>
        <p>
            This spell’s damage increases by 1d8 when you reach
            5th level (2d8), 11th level (3d8), and 17th level (4d8).
        </p>
        <div class="bar bottom"></div>
    </div>
    <div class="spell-card">
        <div class="bar top"></div>
        <h2 class="spell">Light</h2>
        <span class="spell-type">Evocation cantrip</span>

        @RenderSeparator()

        <span class="bold">Casting Time: </span><span>1 action</span><br />
        <span class="bold">Range: </span><span>Touch</span><br />
        <span class="bold">Components: </span><span>V, M (a firefly or phosphorescent moss)</span><br />
        <span class="bold">Duration: </span><span>1 hour</span><br />

        @RenderSeparator()

        <p>
            You touch one object that is no larger than 10 feet in any
            dimension. Until the spell ends, the object sheds bright
            light in a 20-foot radius and dim light for an additional
            20 feet. The light can be colored as you like. Completely
            covering the object with something opaque blocks the
            light. The spell ends if you cast it again or dismiss it
            as an action.
        </p>
        <p>
            If you target an object held or worn by a hostile
            creature, that creature must succeed on a Dexterity
            saving throw to avoid the spell.
        </p>
        <div class="bar bottom"></div>
    </div>
    <div class="spell-card">
        <div class="bar top"></div>
        <h2 class="spell">Prestidigitation</h2>
        <span class="spell-type">Transmutation cantrip</span>

        @RenderSeparator()

        <span class="bold">Casting Time: </span><span>1 action</span><br />
        <span class="bold">Range: </span><span>10 feet</span><br />
        <span class="bold">Components: </span><span>V, S</span><br />
        <span class="bold">Duration: </span><span>Up to 1 hour</span><br />

        @RenderSeparator()

        <p>
            This spell is a minor magical trick that novice
            spellcasters use for practice. You create one of the
            following magical effects within range:
        </p>
        <ul>
            <li>
                You create an instantaneous, harmless sensory effect,
                such as a shower of sparks, a puff of wind, faint musical
                notes, or an odd odor.
            </li>
            <li>
                You instantaneously light or snuff out a candle, a
                torch, or a small campfire.
            </li>
            <li>
                You instantaneously clean or soil an object no larger
                than 1 cubic foot.
            </li>
            <li>
                You chill, warm, or flavor up to 1 cubic foot of nonliving
                material for 1 hour.
            </li>
            <li>
                You make a color, a small mark, or a symbol appear
                on an object or a surface for 1 hour.
            </li>
            <li>
                You create a nonmagical trinket or an illusory image
                that can fit in your hand and that lasts until the end of
                your next turn.
            </li>
        </ul>
        <p>
            If you cast this spell multiple times, you can have up to
            three of its non-instantaneous effects active at a time,
            and you can dismiss such an effect as an action.
        </p>
        <div class="bar bottom"></div>
    </div>
</div>

<div class="heading">
    <h1>1st Level</h1>
</div>
<div class="spellbook">
    <div class="spell-card">
        <div class="bar top"></div>
        <h2 class="spell">Comprehend Languages</h2>
        <span class="spell-type">1st-level divination (ritual)</span>

        @RenderSeparator()

        <span class="bold">Casting Time: </span><span>1 action</span><br />
        <span class="bold">Range: </span><span>Self</span><br />
        <span class="bold">Components: </span><span>V, S, M (a pinch of soot and salt)</span><br />
        <span class="bold">Duration: </span><span>1 hour</span><br />

        @RenderSeparator()

        <p>
            For the duration, you understand the literal meaning of
            any spoken language that you hear. You also understand
            any written language that you see, but you must be
            touching the surface on which the words are written. It
            takes about 1 minute to read one page of text.
        </p>
        <p>
            This spell doesn’t decode secret messages in a text
            or a glyph, such as an arcane sigil, that isn’t part of a
            written language.
        </p>
        <div class="bar bottom"></div>
    </div>
    <div class="spell-card">
        <div class="bar top"></div>
        <h2 class="spell">False Life</h2>
        <span class="spell-type">1st-level necromancy</span>

        @RenderSeparator()

        <span class="bold">Casting Time: </span><span>1 action</span><br />
        <span class="bold">Range: </span><span>Self</span><br />
        <span class="bold">Components: </span><span>V, S, M (a small amount of alcohol or distilled spirits)</span><br />
        <span class="bold">Duration: </span><span>1 hour</span><br />

        @RenderSeparator()

        <p>
            Bolstering yourself with a necromantic facsimile of life,
            you gain 1d4 + 4 temporary hit points for the duration.
        </p>
        <p>
            <span class="bold">At Higher Levels.</span> When you cast this spell using a
            spell slot of 2nd level or higher, you gain 5 additional
            temporary hit points for each slot level above 1st.
        </p>
        <div class="bar bottom"></div>
    </div>
    <div class="spell-card">
        <div class="bar top"></div>
        <h2 class="spell">Healing Word</h2>
        <span class="spell-type">1st-level evocation</span>

        @RenderSeparator()

        <span class="bold">Casting Time: </span><span>1 bonus action</span><br />
        <span class="bold">Range: </span><span>60 feet</span><br />
        <span class="bold">Components: </span><span>V</span><br />
        <span class="bold">Duration: </span><span>Instantaneous</span><br />

        @RenderSeparator()

        <p>
            A creature of your choice that you can see within range
            regains hit points equal to 1d4 + your spellcasting
            ability modifier. This spell has no effect on undead
            or constructs.
        </p>
        <p>
            <span class="bold">At Higher Levels.</span> When you cast this spell using a
            spell slot of 2nd level or higher, the healing increases by
            1d4 for each slot level above 1st.
        </p>
        <div class="bar bottom"></div>
    </div>
    <div class="spell-card">
        <div class="bar top"></div>
        <h2 class="spell">Feather Fall</h2>
        <span class="spell-type">1st-level transmutation</span>

        @RenderSeparator()

        <span class="bold">Casting Time: </span><span>1 reaction, which you take when you or a creature within 60 feet of you falls</span><br />
        <span class="bold">Range: </span><span>60 feet</span><br />
        <span class="bold">Components: </span><span>V, M (a small feather or piece of down)</span><br />
        <span class="bold">Duration: </span><span>1 minute</span><br />

        @RenderSeparator()

        <p>
            Choose up to five falling creatures within range. A
            falling creature's rate of descent slows to 60 feet per
            round until the spell ends. If the creature lands before
            the spell ends, it takes no falling damage and can land
            on its feet, and the spell ends for that creature.
        </p>
        <div class="bar bottom"></div>
    </div>
    <div class="spell-card">
        <div class="bar top"></div>
        <h2 class="spell">Find Familiar</h2>
        <span class="spell-type">1st-level conjuration (ritual)</span>

        @RenderSeparator()

        <span class="bold">Casting Time: </span><span>1 hour</span><br />
        <span class="bold">Range: </span><span>10 feet</span><br />
        <span class="bold">Components: </span>
        <span>
            V, S, M (10 gp worth of charcoal,
            incense, and herbs that must be consumed by fire in a
            brass brazier)
        </span><br />
        <span class="bold">Duration: </span><span>Instantaneous</span><br />

        @RenderSeparator()

        <p>
            You gain the service of a familiar, a spirit that takes an
            animal form you choose: bat, cat, crab, frog (toad), hawk,
            lizard, octopus, owl, poisonous snake, fish (quipper),
            rat, raven, sea horse, spider, or weasel. Appearing in
            an unoccupied space within range, the familiar has the
            statistics of the chosen form, though it is a celestial, fey,
            or fiend (your choice) instead of a beast.
        </p>
        <p>
            Your familiar acts independently of you, but it always
            obeys your commands. In combat, it rolls its own
            initiative and acts on its own turn. A familiar can’t
            attack, but it can take other actions as normal.
        </p>
        <p>
            When the familiar drops to 0 hit points, it disappears,
            leaving behind no physical form. It reappears after you
            cast this spell again
        </p>
        <p>
            While your familiar is within 100 feet of you, you
            can communicate with it telepathically. Additionally,
            as an action, you can see through your familiar’s eyes
            and hear what it hears until the start of your next turn,
            gaining the benefits of any special senses that the
            familiar has. During this time, you are deaf and blind
            with regard to your own senses.
        </p>
        <p>
            As an action, you can temporarily dismiss your
            familiar. It disappears into a pocket dimension where it
            awaits your summons. Alternatively, you can dismiss it
            forever. As an action while it is temporarily dismissed,
            you can cause it to reappear in any unoccupied space
            within 30 feet of you.
        </p>
        <p>
            You can’t have more than one familiar at a time. If you
            cast this spell while you already have a familiar, you
            instead cause it to adopt a new form. Choose one of the
            forms from the above list. Your familiar transforms into
            the chosen creature.
        </p>
        <p>
            Finally, when you cast a spell with a range of touch,
            your familiar can deliver the spell as if it had cast the
            spell. Your familiar must be within 100 feet of you, and
            it must use its reaction to deliver the spell when you cast
            it. If the spell requires an attack roll, you use your attack
            modifier for the roll.
        </p>
        <div class="bar bottom"></div>
    </div>
    <div class="spell-card">
        <div class="bar top"></div>
        <h2 class="spell">Identify</h2>
        <span class="spell-type">1st-level divination (ritual)</span>

        @RenderSeparator()

        <span class="bold">Casting Time: </span><span>1 minute</span><br />
        <span class="bold">Range: </span><span>Touch</span><br />
        <span class="bold">Components: </span><span>V, S, M (a pearl worth at least 100 gp and an owl feather)</span><br />
        <span class="bold">Duration: </span><span>Instantaneous</span><br />

        @RenderSeparator()

        <p>
            You choose one object that you must touch throughout
            the casting of the spell. If it is a magic item or some
            other magic-imbued object, you learn its properties
            and how to use them, whether it requires attunement
            to use, and how many charges it has, if any. You learn
            whether any spells are affecting the item and what they
            are. If the item was created by a spell, you learn which
            spell created it.
        </p>
        <p>
            If you instead touch a creature throughout the casting,
            you learn what spells, if any, are currently affecting it.
        </p>
        <div class="bar bottom"></div>
    </div>
    <div class="spell-card">
        <div class="bar top"></div>
        <h2 class="spell">Mage Armor</h2>
        <span class="spell-type">1st-level abjuration</span>

        @RenderSeparator()

        <span class="bold">Casting Time: </span><span>1 action</span><br />
        <span class="bold">Range: </span><span>Touch</span><br />
        <span class="bold">Components: </span><span>V, S, M (a piece of cured leather)</span><br />
        <span class="bold">Duration: </span><span>8 hours</span><br />

        @RenderSeparator()

        <p>
            You touch a willing creature who isn’t wearing armor,
            and a protective magical force surrounds it until the
            spell ends. The target’s base AC becomes 13 + its
            Dexterity modifier. The spell ends if the target dons
            armor or if you dismiss the spell as an action.
        </p>
        <div class="bar bottom"></div>
    </div>
    <div class="spell-card">
        <div class="bar top"></div>
        <h2 class="spell">Magic Missile</h2>
        <span class="spell-type">1st-level evocation</span>

        @RenderSeparator()

        <span class="bold">Casting Time: </span><span>1 action</span><br />
        <span class="bold">Range: </span><span>120 feet</span><br />
        <span class="bold">Components: </span><span>V, S</span><br />
        <span class="bold">Duration: </span><span>Instantaneous</span><br />

        @RenderSeparator()

        <p>
            You create three glowing darts of magical force. Each
            dart hits a creature of your choice that you can see
            within range. A dart deals 1d4 + 1 force damage to its
            target. The darts all strike simultaneously, and you can
            direct them to hit one creature or several.
        </p>
        <p>
            <span class="bold">At Higher Levels.</span> When you cast this spell using a
            spell slot of 2nd level or higher, the spell creates one
            more dart for each slot level above 1st.
        </p>
        <div class="bar bottom"></div>
    </div>
    <div class="spell-card">
        <div class="bar top"></div>
        <h2 class="spell">Ray of Sickness</h2>
        <span class="spell-type">1st-level necromancy</span>

        @RenderSeparator()

        <span class="bold">Casting Time: </span><span>1 action</span><br />
        <span class="bold">Range: </span><span>60 feet</span><br />
        <span class="bold">Components: </span><span>V, S</span><br />
        <span class="bold">Duration: </span><span>Instantaneous</span><br />

        @RenderSeparator()

        <p>
            A ray of sickening greenish energy lashes out toward
            a creature within range. Make a ranged spell attack
            against the target. On a hit, the target takes 2d8 poison
            damage and must make a Constitution saving throw.
            On a failed save, it is also poisoned until the end of
            your next turn.
        </p>
        <p>
            <span class="bold">At Higher Levels.</span> When you cast this spell using a
            spell slot of 2nd level or higher, the damage increases by
            1d8 for each slot level above 1st.
        </p>
        <div class="bar bottom"></div>
    </div>
    <div class="spell-card">
        <div class="bar top"></div>
        <h2 class="spell">Shield</h2>
        <span class="spell-type">1st-level abjuration</span>

        @RenderSeparator()

        <span class="bold">Casting Time: </span><span>1 reaction, which you take when you are hit by an attack or targeted by the magic missile spell</span><br />
        <span class="bold">Range: </span><span>Self</span><br />
        <span class="bold">Components: </span><span>V, S</span><br />
        <span class="bold">Duration: </span><span>1 round</span><br />

        @RenderSeparator()

        <p>
            An invisible barrier of magical force appears and
            protects you. Until the start of your next turn, you have a
            +5 bonus to AC, including against the triggering attack,
            and you take no damage from magic missile.
        </p>
        <div class="bar bottom"></div>
    </div>
    <div class="spell-card">
            <div class="bar top"></div>
            <h2 class="spell">Blackrazor</h2>
            <span class="spell-type">Weapon (greatsword), legendary (requires attunement by a creature of non-lawful alignment)</span>

            @RenderSeparator()

            <p>
                You gain a +3 bonus to attack and damage rolls made
                with this magic weapon. It has the following additional
                properties.
            </p>
            <p>
                <span class="bold">Devour Soul.</span>
                Whenever you use it to reduce a
                creature to 0 hit points, the sword slays the creature and
                devours its soul, unless it is a construct or an undead. A
                creature whose soul has been devoured by Blackrazor
                can be restored to life only by a wish spell.
            </p>
            <p>
                When it devours a soul, Blackrazor grants you
                temporary hit points equal to the slain creature's hit
                point maximum. These hit points fade after 24 hours.
                As long as these temporary hit points last and you keep
                Blackrazor in hand, you have advantage on attack rolls,
                saving throws, and ability checks.
            </p>
            <p>
                If you hit an undead with this weapon, you take 1d10
                necrotic damage and the target regains 1d10 hit point
                If this necrotic damage reduces you to 0 hit points,
                Blackrazor devours your soul.
            </p>
            <p>
                <span class="bold">Soul Hunter.</span>
                While you hold the weapon. you are
                aware of the presence of Tiny or larger creatures within
                60 feet of you that aren't constructs or undead. You also
                can't be charmed or frightened.
            </p>
            <p>
                Blackrazor can cast the haste spell on you once per
                day. It decides when to cast the spell and maintains
                concentration on it so that you don't have to.
            </p>
            <p>
                <span class="bold">Sentience.</span>
                Blackrazor is a sentient chaotic neutral
                weapon with an Intelligence of 17, a Wisdom of 10, and
                a Charisma of 19. It has hearing and darkvision out to a
                range of 120 feet.
            </p>
            <p>
                The weapon can speak, read, and understand
                Common, and can communicate with its wielder
                telepathically. Its voice is deep and echoing. While you
                are attuned to it, Blackrazor also understands every
                language you know.
            </p>
            <p>
                <span class="bold">Personality.</span>
                Blackrazor speaks with an imperious
                tone, as though accustomed to being obeyed.
                The sword's purpose is to consume souls. It doesn't
                care whose souls it eats, including the wielder's. The
                sword believes that all matter and energy sprang from
                a void of negative energy and will one day return to it.
                Blackrazor is meant to hurry that process along.
                Despite its nihilism, Blackrazor feels a strange
                kinship to Wave and Whelm, two other weapons locked
                away under White Plume Mountain. It wants the three
                weapons to be united again and wielded together in
                combat, even though it violently disagrees with Whelm
                and finds Wave tedious.
            </p>
            <p>
                Blackrazor's hunger for souls must be regularly fed. If
                the sword goes three days or more without consuming
                a soul, a conflict between it and its wielder occurs at the
                next sunset.
            </p>
            <div class="bar bottom"></div>
        </div>
    <div class="spell-card">
        <div class="bar top"></div>
        <h2 class="spell">Staff of Defense</h2>
        <span class="spell-type">Staff, rare (requires attunement by a sorcerer, warlock, or wizard.)</span>

        @RenderSeparator()

        <p>
            While holding this staff, you can use an action to expend
            1 of its 10 charges to cast mage armor (1 charge), shield (1 charge), or
            mirror image (2 charges) from it. The staff can also be used as a magic quarterstaff.
        </p>
        <p>
            The staff regains 1d8 + 2 expended charges daily at
            dawn. If you expend the last charge, roll a d20. On a 1,
            the staff becomes a nonmagical quarterstaff.
        </p>
        <div class="bar bottom"></div>
    </div>
    <div class="spell-card">
        <div class="bar top"></div>
        <h2 class="spell">Scimitar of Life Stealing</h2>
        <span class="spell-type">Scimitar, rare (requires attunement)</span>

        @RenderSeparator()

        <p>
            When you attack a creature with this magic weapon and
            roll a 20 on the attack roll, that target takes an extra 10
            necrotic damage if it isn't a construct or an undead. You
            also gain 10 temporary hit points.
        </p>
        <div class="bar bottom"></div>
    </div>
</div>*@